/.idea
.DS_Store
/Driver/ExperimentRecordings/

/Firmware/CartPole CubeIDE/.settings/language.settings.xml
/Firmware/CartPole CubeIDE/Debug/
/Firmware/CartPole CubeIDE/*.launch
/Firmware/FactoryFirmware CubeIDE/.settings/language.settings.xml
/Firmware/FactoryFirmware CubeIDE/Debug/
/Firmware/FactoryFirmware CubeIDE/*.launch

*env
.DS_Store
*__pycache__
*.pyc
*.csv
*.png
*.txt
*.ckpt.*
*.pt
*.env
*.vscode
build/
dist/
eggs/
*.egg-info/
*.egg
Driver/SI_Toolkit_ASF/Experiments/*
*.hdf*
*.pdf
*.prof

/zynq/minized_sbc_base_2021_1

/FPGA/VivadoProjects/*
!/FPGA/VivadoProjects/CartpoleDriverZynq.tcl