[submodule "Driver/SI_Toolkit"]
	path = Driver/SI_Toolkit
	url = https://github.com/SensorsINI/SI_Toolkit
[submodule "Driver/CartPoleSimulation"]
	path = Driver/CartPoleSimulation
	url = https://github.com/SensorsINI/CartPoleSimulation
