numpy==1.22.4
pygame
pyserial
pandas
matplotlib
engineering_notation
scipy
GitPython
PyQt5
tk
sympy
sklearn
PyYAML
numba==0.56.0
gymnasium
tqdm
torch
tensorboard_plugin_profile
tensorflow==2.11.*
seaborn
do-mpc==4.1.1
pypref # https://bachiraoun.github.io/pypref/
easygui # for file dialog, e.g. to select CSV files to plot

-e ./Driver/CartPoleSimulation/SI_Toolkit/